[flake8]
filename = ./src/*.py,*.py
ignore = E203,E501,E731,RST201,RST203,RST301,W503,W504
max-line-length = 88
# Mccabe branching factor < 4 good; 5-7 medium; 8-10 complex; 10+ basically random
max-complexity = 5
# personal opinion
docstring-convention = google
per-file-ignores = tests/*:S101

[pycodestyle]
max-line-length = 88
