-r requirements.txt
bandit==1.7.1
black==21.12b0
flake8==4.0.1
isort==5.10.1
nox==2022.1.7
pep8-naming==0.11.1
pre-commit==2.16.0
pylint==2.12.2
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
seleniumbase==1.33.9
tox==3.24.5
